.element__like {
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity .5s ease-in;
}

.element__like:hover {
  opacity: .5;
  cursor: pointer;
}
