.profile__metier {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22 / 18);
  grid-area: metier;
}

@media (max-width: 760px) {
  .profile__metier {
    font-size: 14px;
    line-height: calc(17 / 14);
    text-align: center;
  }
}
