.popup__input {
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  min-height: 27px;
  font-size: 14px;
  line-height: calc(17 / 14);
  /* padding-top: 25px;
  padding-bottom: 5px; */
}

.popup__input::placeholder {
  color: #c4c4c4;
  font-size: 14px;
  line-height: calc(17 / 14);
  font-weight: normal;
}

.popup__input:first-of-type {
  /* padding-top: 43px; */
}

@media (max-width: 760px) {
  .popup__input:first-of-type {
    /* padding-top: 67px; */
  }
}
