.profile__info {
  margin-left: 30px;
  margin-right: auto;
  display: flex;
  align-items: baseline;
}

@media (max-width: 760px) {
  .profile__info {
    margin-left: auto;
    margin-top: 26px;
  }
}
