.profile__info {
  margin-left: 30px;
  margin-right: auto;
  display: grid;
  gap: 16px 18px;
  grid-template-columns: 1fr 24px;
  grid-template-areas:
  'name button'
  'metier metier';
  align-items: baseline;
}

@media (max-width: 760px) {
  .profile__info {
    margin-left: auto;
    margin-top: 26px;
  }
}
